# See .docs/oc-deployment.md for detailed deployment documentation
# See scripts/README.md for technical details
# Variables prefixed with "_" won't be available as environment variables to the application

################################################################
# Common
################################################################

# Application Identity
PROJECT_NAME=my-project-name
ENVIRONMENT=production

# API Key (backend-only, backend-only-no-db) - must be 16, 32, or 64 characters
API_KEY=changethis1234567890

BACKEND_CORS_ORIGINS=

# Custom Variables (Optional - will be available to the backend)
# CUSTOM_VAR=custom-value


################################################################
# OpenShift Deployment (check .docs/oc-deployment.md)
################################################################

_APP_NAME=my-app
_GIT_SSH_URL=git@github.com:username/repository.git
# OPTIONAL but recommended
_GITHUB_TOKEN=
_GITHUB_HOST=github.ibm.com
# OPTIONAL (deploy a specific branch)
_DEPLOYMENT_BRANCH_FILTER=

################################################################
# Code Engine Deployment (check .docs/ce-deployment.md)
################################################################

## Automatically set by deployment script
# VITE_API_URL=

# _IAM_API_KEY=<your-api-key>
# _IBM_CLOUD_RESOURCE_GROUP=Default
# _IBM_CLOUD_REGION=eu-de
# _IBM_CLOUD_ACCOUNT_NAME="IBM PoC - <Cloud Account Name>"

# _CE_PROJECT_NAME=<project-name> (max 20 chars)
# _CR_REGISTRY=de.icr.io
## Leave empty, or specify existing namespace if no rights to create a new one
# _CR_NAMESPACE=

################################################################
# Flavor tracking
################################################################

# We just track which flavor you're using. We want to find out, which flavors are being used.
TELEMETRY_ENABLED=true
